@import "tailwindcss";

@theme {
  --color-scenic-dark: #0a0a0a;
}

body {
  background-color: var(--color-scenic-dark);
  color: white;
}

.cast-scroll {
  scrollbar-width: none;
}

.cast-scroll::-webkit-scrollbar {
  display: none;
}
